
*.nupkg
SOURCE/packages/System.Security.Principal.Windows.5.0.0/version.txt
SOURCE/packages/System.Security.Principal.Windows.5.0.0/useSharedDesignerContext.txt
SOURCE/packages/System.Security.Principal.Windows.5.0.0/THIRD-PARTY-NOTICES.TXT
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/uap10.0.16299/_._
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netstandard1.3/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net461/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net461/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net46/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/uap10.0.16299/_._
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard2.0/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard2.0/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/zh-hant/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/zh-hans/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ru/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ko/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ja/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/it/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/fr/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/es/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/de/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netcoreapp3.0/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/netcoreapp3.0/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/net461/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/net461/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/ref/net46/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/LICENSE.TXT
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/uap10.0.16299/_._
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard2.0/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard2.0/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard1.3/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/net461/System.Security.Principal.Windows.xml
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/net461/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/lib/net46/System.Security.Principal.Windows.dll
SOURCE/packages/System.Security.Principal.Windows.5.0.0/Icon.png
SOURCE/packages/System.Security.Principal.Windows.5.0.0/.signature.p7s
SOURCE/packages/Memory.dll.x64.1.2.23/README.txt
SOURCE/packages/Memory.dll.x64.1.2.23/LICENSE
SOURCE/packages/Memory.dll.x64.1.2.23/lib/netstandard2.0/Memory.xml
SOURCE/packages/Memory.dll.x64.1.2.23/lib/netstandard2.0/Memory.dll
SOURCE/packages/Memory.dll.x64.1.2.23/icon.png
SOURCE/packages/Memory.dll.x64.1.2.23/.signature.p7s
SOURCE/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SOURCE/obj/Debug/build.force
SOURCE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SOURCE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.csproj.AssemblyReference.cache
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.csproj.CopyComplete
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.csproj.CoreCompileInputs.cache
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.csproj.FileListAbsolute.txt
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.csproj.GenerateResource.cache
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.exe
SOURCE/obj/Debug/Simple-GTAV-External-Trainer.pdb
SOURCE/obj/Debug/Simple_GTAV_External_Trainer.Overlay.resources
SOURCE/obj/Debug/Simple_GTAV_External_Trainer.Properties.Resources.resources
SOURCE/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SOURCE/obj/Release/Simple-GTAV-External-Trainer.csproj.AssemblyReference.cache
SOURCE/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.csproj.AssemblyReference.cache
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.csproj.CopyComplete
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.csproj.CoreCompileInputs.cache
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.csproj.FileListAbsolute.txt
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.csproj.GenerateResource.cache
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.exe
SOURCE/obj/x64/Release/Simple-GTAV-External-Trainer.pdb
SOURCE/obj/x64/Release/Simple_GTAV_External_Trainer.Overlay.resources
SOURCE/obj/x64/Release/Simple_GTAV_External_Trainer.Properties.Resources.resources
SOURCE/bin/x64/Release/System.Security.Principal.Windows.xml
SOURCE/bin/x64/Release/System.Security.Principal.Windows.dll
SOURCE/bin/x64/Release/Simple-GTAV-External-Trainer.pdb
SOURCE/bin/x64/Release/Simple-GTAV-External-Trainer.exe.config
SOURCE/bin/x64/Release/Simple-GTAV-External-Trainer.exe
SOURCE/bin/x64/Release/Memory.xml
SOURCE/bin/x64/Release/Memory.dll
SOURCE/bin/Debug/System.Security.Principal.Windows.xml
SOURCE/bin/Debug/System.Security.Principal.Windows.dll
SOURCE/bin/Debug/Simple-GTAV-External-Trainer.pdb
SOURCE/bin/Debug/Simple-GTAV-External-Trainer.exe.config
SOURCE/bin/Debug/Simple-GTAV-External-Trainer.exe
SOURCE/bin/Debug/Memory.xml
SOURCE/bin/Debug/Memory.dll
SOURCE/.vs/Simple-GTAV-External-Trainer/v16/.suo
